.field{
  width: 100%;
  min-height: 5.5rem;
  position: relative;
  display: block;
  font-family: $secondary-font;
  font-size: $fzLG;
  font-weight: 500;
  background: #eff0f3;
  border-radius: .5rem;
  &.without-label{
    display: flex;
    align-items: center;
    .field{
      &__input, &__text{
        padding: 0 1.6rem;
        margin: 1.8rem 0;
      }
    }
  }
  &.big-margin{
    margin-bottom: 8rem;
  }
  &__label{
    position: absolute;
    top: 50%;
    left: 1.6rem;
    font-size: $fzLG;
    color: $dark-light;
    transform: translateY(-50%);
    transition: $anim;
    user-select: none;
    z-index: 0;
    &.squeezed{
      top: .8rem;
      font-size: $fzSM;
      transform: translateY(0);
    }
  }
  &__text{
    display: inline-block;
  }
  &__input, &__text{
    margin: 2.5rem 0 1.1rem;;
    padding: 0 1.6rem;
    box-sizing: border-box;
  }
  &__input{
    width: 100%;
    display: inline-block;
    position: relative;
    background: transparent;
    border: 0;
    font: 500 16px Roboto;
    z-index: 1;
    &:focus, &:active{
      outline: 0;
      ~ .field__border{
        width: 100%;
      }
    }
    &:focus, &:active, &:not(:placeholder-shown){
      ~ .field__label{
        top: .8rem;
        font-size: $fzSM;
        transform: translateY(0);
      }
    }
    &:disabled{
      color: $dark;
      user-select: none;
      ~ .field__border{
        width: 0;
      }
    }
  }
  &__border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: .2rem;
    background-color: $dark-light;
    transition: $anim;
  }
  &__caret{
    width: 1rem;
    position: absolute;
    top: 50%;
    right: 1.9rem;
    transition: $anim;
    transform: translateY(-50%);
  }
  &__comment, &__error{
    position: absolute;
    top: 100%;
    left: 0;
    padding: .5rem 1.5rem;
    font-size: $fzSM;
  }
  &__comment{
    color: $dark-light;
  }
  &__error{
    color: $negative;
  }
  textarea{
    resize: none;
  }
}

.sellHint{
  padding-left: 30px;
}