header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  padding: .8rem 1.6rem 0.8rem 1rem;
  box-sizing: border-box;
  background: $white;
}

.header{
  &__burger{
    width: 4.4rem;
    height: 3.8rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span{
      width: 1.8rem;
      height: .2rem;
      background: $dark-light;
    }
  }
  &__user-data{
    display: flex;
    align-items: center;
    > button{
      margin-right: 2rem;
    }
  }
  &__notifications{
    .dropdown__body{
      bottom: -10px !important;
    }
  }
  &__user{
    display: flex;
    align-items: center;
    &:hover{
      .avatar{
        background-color: $light;
      }
    }
  }
  &__user-name{
    display: block;
    margin: 0 1.75rem 0 2.55rem;
    color: #3C476C;
  }
}

.drop-user{
  width: 30rem;
  padding: 2.1rem 3.2rem 4.3rem;
  border-radius: 4px;
  box-sizing: border-box;
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;
  }
  &__name{
    font-size: $fzXLG;
    color: #3C476C;
  }
  &__user-actions{
    display: flex;
    align-items: center;
    > button{
      margin-right: 0.5rem;
    }
  }
  &__asset{
    display: flex;
    justify-content: space-between;
    padding: .7rem 1.9rem .65rem 0;
    border-bottom: 1px solid $grey-light;
    color: #3C476C
  }
  &__btn-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 1.6rem 0 3.4rem;
    button{
      width: 70%;
    }
  }
  &__wallets-title{
    font-size: $fzSM;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    color: $dark-light;
  }
  &__wallets{
    margin-top: 8px;
  }
  &__wallet{
    padding: 1rem 0;
    border-bottom: 1px solid $grey-light;
  }
  &__wallet-name{
    font-size: $fzLG;
    margin-bottom: .3rem;
  }
  &__wallet-quantity{
    color: $dark-light;
  }
  &__add{
    width: 4rem;
    height: 4rem;
    margin-top: 1.6rem;
    margin-left: .2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-bold;
    svg{
      width: 1.4rem;
      transform: rotate(45deg);
    }
    .mask{
      fill: $white;
      opacity: 1;
    }
  }
}

.avatar{
  width: 4.1rem;
  height: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: $white;
  color: $white;
  border-radius: 50%;
  transition: $anim;
  border: 1px solid rgba(60,71,108,0.18);
  &--user {
    margin-right: 2rem;
  }
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}