.page{
  &__header-wrapper, &__user-title{
    display: flex;
    align-items: center;
    margin-left: 0.8rem;
  }
  &__header-wrapper{
    justify-content: space-between;
    margin-bottom: 1rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
  }
  &__user-title{
    margin-bottom: 1.8rem;
    .avatar {
      margin-right: 1.8rem;
    }
  }
  &__title{
    font-size: $fzXLG;
  }
  &__menu{
    display: flex;
    flex-wrap: wrap;
  }
  &__menu-item{
    min-width: 12rem;
    position: relative;
    padding: 1.6rem 2rem;
    box-sizing: border-box;
    font-size: $fzSM + .1rem;
    color: $dark-light;
    font-weight: 600;
    letter-spacing: 1.16px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $blue-dark;
      transition: $anim / 2;
    }
    &.active{
      color: $blue;
      &:after {
        width: 100%;
      }
    }
  }
  &__content{
    padding: 2.25rem 0;
    .tbd, .no-data{
      min-height: calc(100vh - 275px);
    }
  }
}

.quantity-converter{
  //min-width: 21.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  &__summ{
    font-size: $fzLG;
    //margin-left: auto;
  }
  .field{
    min-height: 0;
    font-size: $fzMD;
    font-weight: normal;
    color: $dark-light;
    background-color: transparent;
    padding: 0 4rem 0 2rem;
  }
}

.quantity-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .dropdown{
    min-width: 12.2rem;
    width: fit-content;
    margin-left: 3.7rem;
  }
  .field{
    margin-bottom: 0;
  }
}