.table{
  width: 100%;
  display: table;
  border-spacing: 0;
  &__header, &__row{
    display: table-row;
    vertical-align: middle;
  }
  &__header{
    .table__cell{
      padding: 1.6rem 3rem 1.6rem 1.6rem;
      font-size: $fzSM;
      color: $dark-light;
    }
  }
  &__row:hover{
    .actions__on-hover{
      opacity: 1;
    }
  }
  &__cell{
    display: table-cell;
    vertical-align: inherit;
    padding: 1.4rem 3rem 1.3rem 1.6rem;
    border-bottom: 1px solid $grey-light;
  }
  &__link{
    width: 80%;
    height: 4.5rem;
    position: absolute;
    top: auto;
    left: 0;
    z-index: 2;
    &:hover{
      cursor: pointer;
    }
  }
  &__partialFill{
    height: 3.4rem;
    position: absolute;
    top: auto;
    right: 0;
    z-index: 1;
  }
  &--with-link{
    position: relative;
    .table{
      &__row{
        transition: $anim;
        &:hover{
          background-color: $blue-light;
        }
      }
    }
  }

  &__title {
    color: $grey-blue;
    font-family: $secondary-font;
    font-size: 15.65px;
    font-weight: 600;
    padding-left: 16px;
    padding-top: 50px;
  }
}

.actions{
  padding: 0 1.6rem;
  &__wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__on-hover{
    opacity: 0;
    transition: $anim;
    button, a{
      border-radius: 50px;
      &:not(:first-child){
        margin-left: 1.6rem;
      }
    }
    .mask{
      fill: $blue-dark;
      transition: $anim;
    }
  }
  &__btn{
    &--red{
      .mask{
        fill: $negative;
      }
    }
  }
  .dropdown{
    width: fit-content;
    margin-left: 1.6rem;
  }
  &--long{
    width: 250px;
  }
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

.fit-content{
  white-space: nowrap;
}

.content-padding {
  padding: 0 50px;
}

.operation {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 4px 12px;
  &.negative{
    color: $light;
    background-color: $negative;
    font-size: 10px;
  }
  &.positive{
    color: $light;
    background-color: $positive;
    font-size: 10px;
  }
}

.table{
  &--exchange &{
    &__header{
      background: #F5F6FA;
      > .table__cell{
        color: rgba(60,71,108,0.5);
        border-bottom: 0;
      }
    }
    &__row:first-child{
      border-top: 0;
    }
    &__cell{
      padding: .8rem 3rem .8rem 1.6rem;
      font-size: $fzSM;
    }
  }
}

.table__row {
  .margins {
    width: 120px;
    &__actions {
      display: none;
    }
  }
  &:hover {
    .margins {
      &__actions {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@media(max-width:500px){
  .table {
    display: none;
  }
}

@media(min-width:500px){
  .cardsTable {
    display: none;
  }
}