@import "variables";
@import "global";
@import "btn";

@import "layouts";
@import "header";
@import "notifications";
@import "page";
@import "global-search";
@import "modal";

@import "card";
@import "switch";
@import "tabs";
@import "tables";
@import "myAssets";

@import "checkbox";
@import "dropdown";
@import "field";
@import "radio";
@import "form";
@import "upload";
@import "widget";

@import "settings";
@import "membership";
@import "exchange";
@import "security";
@import "nodes";
@import "backup";
@import "permissions";
@import "contact";
@import "voting";
@import "block";
@import "asset";
@import "deposit";

@media(min-width:0px) and (max-width:768px){

    .page__menu-item{
        font-size: 1.2rem !important;
        min-width:8rem !important
    }
    .bold{
        font-weight: 700;
    }
}

.cpointer{
    cursor: pointer !important;
}